extends ../layout

block css
  link(rel="stylesheet", href="/css/about-us.css")

block js
  script(data-main="/js/about-us", src="/components/requirejs/require.js")

block breadcrumbs
  .breadcrumbs
    .container
      h1.pull-left #{__('aboutus.breadcrumb.title')}

block content

  #greeting.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='greetingLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(aria-hidden='true', data-dismiss='modal', type='button') ×
          h4#greetingLabel.modal-title #{__('aboutus.message.title')}
        .modal-body
          blockquote.row.shadow-wrapper
            #photo.col-sm-6.col-md-4.pull-right.box-shadow.shadow-effect-2.margin-bottom-10
              img.img-responsive.margin-bottom-10(src='/img/eb/DSC_2573.jpg', alt='')
            p #{__('aboutus.message.paragraph1')}
            p #{__('aboutus.message.paragraph2')}
            p #{__('aboutus.message.paragraph3')}
            p #{__('aboutus.message.paragraph4')}
            small #{__('aboutus.message.paragraph5')}

  #company-info.container.content
    .row
      .col-sm-4
        .service
          i.service-icon.icon-star
          .desc
            h4.no-top-space #{__('aboutus.info.date.title')}
            p #{__('aboutus.info.date.content')}
      .col-sm-4
        .service
          i.service-icon.icon-user-following
          .desc
            h4.no-top-space #{__('aboutus.info.ceo.title')}
            p #{__('aboutus.info.ceo.content')}
            button.btn-u.btn-u-xs(data-toggle="modal",data-target="#greeting") #{__('aboutus.info.ceo.btn')}
      .col-sm-4
        .service
          i.service-icon.icon-pointer
          .desc
            h4.no-top-space #{__('aboutus.info.address.title')}
            p #{__('aboutus.info.address.content')}
    .row
      .col-sm-4
        .service
          i.service-icon.icon-diamond
          .desc
            h4.no-top-space #{__('aboutus.info.capital.title')}
              | 
              span.counter 3800
              | #{__('aboutus.info.capital.unit')}
            p #{__('aboutus.info.capital.date')}
      .col-sm-4
        .service
          i.service-icon.icon-users
          .desc
            h4.no-top-space #{__('aboutus.info.employee.title')}
              | 
              span.counter 185
              | #{__('aboutus.info.employee.unit')}
            p #{__('aboutus.info.employee.date')}
            button.btn-u.btn-u-xs(data-toggle="modal",data-target="#organiztion") #{__('aboutus.info.employee.btn')}
      .col-sm-4
        .service
          i.service-icon.icon-globe-alt
          .desc
            h4.no-top-space #{__('aboutus.info.branch.title')}
            p #{__('aboutus.info.branch.content')}
    .row
      .col-sm-4
        .service
          i.service-icon.icon-bar-chart
          .desc
            h4.no-top-space #{__('aboutus.info.profit.title')}
              | 
              span.counter 16
              | #{__('aboutus.info.profit.unit')}
            p #{__('aboutus.info.profit.date')}
      .col-sm-4
        .service
          i.service-icon.icon-graph
          .desc
            h4.no-top-space #{__('aboutus.info.profit2.title')}
              | 
              span.counter 21
              | #{__('aboutus.info.profit2.unit')}
            p #{__('aboutus.info.profit2.date')}
      .col-sm-4
        .service
          i.service-icon.icon-badge
          .desc
            h4.no-top-space #{__('aboutus.info.certification.title')}
            ul.list-unstyled
              li
                i.fa.fa-check.color-green
                | #{__('aboutus.info.certification.name1')}
              li
                i.fa.fa-check.color-green
                | #{__('aboutus.info.certification.name2')}
              li
                i.fa.fa-check.color-green
                | #{__('aboutus.info.certification.name3')}
              li
                i.fa.fa-check.color-green
                | #{__('aboutus.info.certification.name4')}
              li
                i.fa.fa-check.color-green
                | #{__('aboutus.info.certification.name5')}
              li
                i.fa.fa-check.color-green
                | #{__('aboutus.info.certification.name6')}

  #graph.container.content
    .row
      .col-md-8.col-md-offset-2
        .heading.heading-v4.margin-bottom-20
          h2.color-green #{__('aboutus.profit')}
        #bar-graph(style="width:100%; height: 300px;")

  #organiztion.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(aria-hidden='true', data-dismiss='modal', type='button') ×
          h4#myModalLabel.modal-title #{__('aboutus.organization')}
        .modal-body
          .table-responsive
            table.table
              tbody
                tr
                  td.org-head-1(rowspan="3")
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-flag
                      |  株主総会
                  td.org-branch(rowspan="3")
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-bell
                      |  経営管理部
                  td.org-leaf
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-users
                      |  人事グループ
                tr
                  td.org-leaf
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-note
                      |  経理グループ
                tr
                  td.org-leaf-last
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-grid
                      |  総務グループ
                tr
                  td.org-head-2(rowspan="2")
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-flag
                      |  取締役会
                  td.org-branch(rowspan="2")
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-picture
                      |  営業企画部
                  td.org-leaf
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-notebook
                      |  営業１グループ
                tr
                  td.org-leaf-last
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-notebook
                      |  営業２グループ
                tr
                  td.org-root(rowspan="10")
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-user
                      |  　代表者
                  td.org-branch(rowspan="6") 
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-screen-desktop
                      |  ICT事業部
                  td.org-leaf
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-settings
                      |  SS１部
                tr
                  td.org-leaf
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-settings
                      |  SS２部
                tr
                  td.org-leaf
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-settings
                      |  SS３部
                tr
                  td.org-leaf
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-settings
                      |  SS４部
                tr
                  td.org-leaf
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-settings
                      |  SS５部
                tr
                  td.org-leaf-last
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-wrench
                      |  技術推進部
                tr
                  td.org-branch(rowspan="2")
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-basket
                      |  GEC事業部
                  td.org-leaf
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-speech
                      |  企画・運営グループ
                tr
                  td.org-leaf-last
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-wrench
                      |  技術開発グループ
                tr
                  td.org-leaf(colspan="2")
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-key
                      |  セキュリティ・危機管理委員会
                tr
                  td.org-leaf-last(colspan="2")
                    .btn-u.btn-u-xs.btn-brd.btn-brd-hover
                      i.icon-volume-2
                      |  CSR推進室

  .container.content.job-partners
    .heading.heading-v4.margin-bottom-20
      h2.color-green #{__('aboutus.customer.title')}
      p 敬称略・順不同
    ul#effect-2.list-inline.our-clients
      li
        figure
          img#isid.client-logo(src='/img/eb/customer/transparent.png', alt='')
          .img-hover
            h4 #{__('aboutus.customer.name1')}
      li
        figure
          img#iki.client-logo(src='/img/eb/customer/transparent.png', alt='')
          .img-hover
            h4 #{__('aboutus.customer.name2')}
      li
        figure
          img#dts.client-logo(src='/img/eb/customer/transparent.png', alt='')
          .img-hover
            h4 #{__('aboutus.customer.name3')}
      li
        figure
          img#nsd.client-logo(src='/img/eb/customer/transparent.png', alt='')
          .img-hover
            h4 #{__('aboutus.customer.name4')}
      li
        figure
          img#tdc.client-logo(src='/img/eb/customer/transparent.png', alt='')
          .img-hover
            h4 #{__('aboutus.customer.name5')}
      li
        figure
          img#fujikura.client-logo(src='/img/eb/customer/transparent.png', alt='')
          .img-hover
            h4 #{__('aboutus.customer.name6')}
      li
        figure
          img#tss.client-logo(src='/img/eb/customer/transparent.png', alt='')
          .img-hover
            h4 #{__('aboutus.customer.name7')}
      li
        figure
          img#hitachi.client-logo(src='/img/eb/customer/transparent.png', alt='')
          .img-hover
            h4 #{__('aboutus.customer.name8')}
      li
        figure
          img#slc.client-logo(src='/img/eb/customer/transparent.png', alt='')
          .img-hover
            h4 #{__('aboutus.customer.name9')}

  .container.content
    .heading.heading-v4.margin-bottom-20
      h2.color-green #{__('aboutus.history.title')}
    .row
      ul.timeline-v1
        li
          .timeline-badge.primary
            i.glyphicon.glyphicon-record
          .timeline-panel
            .timeline-body.text-justify
              h4 ISO9001(ISA)認証を取得
              p
                img(src='/img/eb/isa.jpg', alt='', style="width: auto; height: 75px; margin-right: 15px; margin-bottom: 10px; float: left;")
                | ISO 9001は、製品やサービスの品質保証を通じて、顧客満足向上と品質マネジメントシステムの継続的な改善を実現する国際規格です。
              span
                i.fa.fa-clock-o
                |  平成27年4月
        li.timeline-inverted
          .timeline-badge.primary
            i.glyphicon.glyphicon-record
          .timeline-panel
            .timeline-body.text-justify
              h4 グローバル　イー・コーマス（GEC）事業部設立
              span
                i.fa.fa-clock-o
                |  平成27年4月
        li
          .timeline-badge.primary
            i.glyphicon.glyphicon-record
          .timeline-panel
            .timeline-body.text-justify
              h4 #{__('aboutus.history.event1.title')}
              span
                i.fa.fa-clock-o
                |  #{__('aboutus.history.event1.date')}
        li.timeline-inverted
          .timeline-badge.primary
            i.glyphicon.glyphicon-record
          .timeline-panel
            .timeline-body.text-justify
              h4 #{__('aboutus.history.event2.title')}
              p
                img(src='/img/eb/isms.jpg', alt='', style="width: auto; height: 75px; margin-right: 15px; margin-bottom: 10px; float: left;")
                | #{__('aboutus.history.event2.content')}
              span
                i.fa.fa-clock-o
                | #{__('aboutus.history.event2.date')}
        li
          .timeline-badge.primary
            i.glyphicon.glyphicon-record.invert
          .timeline-panel
            .timeline-body.text-justify
              h4 #{__('aboutus.history.event3.title')}
              p
                | #{__('aboutus.history.event3.content')}
              span.pull-left
                i.fa.fa-clock-o
                | #{__('aboutus.history.event3.date')}
              span.pull-right
                a.btn-u.btn-u-xs(href='http://big5.51job.com/gate/big5/companyadc.51job.com/companyads/ads/17/16458/16457658/index.htm', target='blank') #{__('aboutus.history.event3.btn')}
              .clearfix
        li.timeline-inverted
          .timeline-badge.primarya
            i.glyphicon.glyphicon-record
          .timeline-panel
            .timeline-body.text-justify
              h4 #{__('aboutus.history.event4.title')}
              p
                | #{__('aboutus.history.event4.content')}
              span.pull-left
                i.fa.fa-clock-o
                | #{__('aboutus.history.event4.date')}
              span.pull-right
                a.btn-u.btn-u-xs(href='/contact') #{__('aboutus.history.event4.btn')}
              .clearfix
        li
          .timeline-badge.primary
            i.glyphicon.glyphicon-record
          .timeline-panel
            .timeline-body.text-justify
              h4 #{__('aboutus.history.event5.title')}
              span
                i.fa.fa-clock-o
                | #{__('aboutus.history.event5.date')}
        li.timeline-inverted
          .timeline-badge.primary
            i.glyphicon.glyphicon-record.invert
          .timeline-panel
            .timeline-body
              h4 #{__('aboutus.history.event7.title')}
              p
                img(src='/img/eb/pmark.gif', alt='', style="width: auto; height: 75px; margin-right: 15px; margin-bottom: 10px; float: left;")
                | #{__('aboutus.history.event7.content')}
              span
                i.fa.fa-clock-o
                | #{__('aboutus.history.event7.date')}
        li
          .timeline-badge.primary
            i.glyphicon.glyphicon-record.invert
          .timeline-panel
            .timeline-body.text-justify
              h4 #{__('aboutus.history.event8.title')}
              p
                | #{__('aboutus.history.event8.content')}
              span
                i.fa.fa-clock-o
                | #{__('aboutus.history.event8.date')}
        li.timeline-inverted
          .timeline-badge.primary
            i.glyphicon.glyphicon-record.invert
          .timeline-panel
            .timeline-body
              h4 #{__('aboutus.history.event9.title')}
              p
                | #{__('aboutus.history.event9.content')}
              span.pull-left
                i.fa.fa-clock-o
                | #{__('aboutus.history.event9.date')}
              span.pull-right
                a.btn-u.btn-u-xs(href='/certification') #{__('aboutus.history.event9.btn')}
              .clearfix
        li
          .timeline-badge.primary
            i.glyphicon.glyphicon-record.invert
          .timeline-panel
            .timeline-body.text-justify
              h4 #{__('aboutus.history.event10.title')}
              p
                | #{__('aboutus.history.event10.content')}
              span
                i.fa.fa-clock-o
                | #{__('aboutus.history.event10.date')}
        li.clearfix(style='float: none;')
