extends ../layout

block css
  link(rel="stylesheet", href="/home.css")

block js
  script(data-main="/home", src="/components/requirejs/require.js")

block slider
  .tp-banner-container
    .tp-banner
      ul
        li.revolution-mch-1(data-transition='fade', data-slotamount='5', data-masterspeed='1000', data-title="#{__('home.slider.title1')}")
          img(src='/img/sliders/4.jpg', alt='darkblurbg', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
          .tp-caption.revolution-ch1.sft.start(data-x='center', data-hoffset='0', data-y='100', data-speed='1500', data-start='500', data-easing='Back.easeInOut', data-endeasing='Power1.easeIn', data-endspeed='300')
            | #{__('home.slider.statement1')}
          .tp-caption.revolution-ch1.sft(data-x='center', data-hoffset='0', data-y='190', data-speed='1400', data-start='2000', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6;')
            | #{__('home.slider.statement2')}
        li.revolution-mch-1(data-transition='fade', data-slotamount='5', data-masterspeed='1000', data-title="#{__('home.slider.title2')}")
          img(src='/img/sliders/3.jpg', alt='darkblurbg', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
          .tp-caption.revolution-ch1.sft.start(data-x='center', data-hoffset='0', data-y='100', data-speed='1500', data-start='500', data-easing='Back.easeInOut', data-endeasing='Power1.easeIn', data-endspeed='300')
            | #{__('home.slider.statement3')}
          .tp-caption.revolution-ch1.sft(data-x='center', data-hoffset='0', data-y='190', data-speed='1400', data-start='2000', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6;')
            | #{__('home.slider.statement4')}
        li.revolution-mch-1(data-transition='fade', data-slotamount='5', data-masterspeed='1000', data-title="#{__('home.slider.title3')}")
          img(src='/img/sliders/2.jpg', alt='darkblurbg', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
          .tp-caption.revolution-ch1.sft.start(data-x='center', data-hoffset='0', data-y='100', data-speed='1500', data-start='500', data-easing='Back.easeInOut', data-endeasing='Power1.easeIn', data-endspeed='300')
            | #{__('home.slider.statement5')}
          .tp-caption.revolution-ch1.sft(data-x='center', data-hoffset='0', data-y='190', data-speed='1400', data-start='2000', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6;')
            | #{__('home.slider.statement6')}
          .tp-caption.revolution-ch1.sft(data-x='center', data-hoffset='0', data-y='280', data-speed='1400', data-start='3000', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6;')
            | #{__('home.slider.statement7')}
      .tp-bannertimer.tp-bottom

block breadcrumbs
  .purchase
    .container
      .row
        .col-md-9.animated.fadeInLeft
          span #{__('home.breadcrumb.title')}
          p
            | #{__('home.breadcrumb.statement')}
        .col-md-3.btn-buy.animated.fadeInRight
          a.btn-u.btn-u-lg(href='contact')
            i.icon-earphones-alt
            |  #{__('home.breadcrumb.contact')}

block content
  .container.content
    #news.row.testimonials-v3.margin-bottom-40
      ul.list-unstyled.owl-ts-v1
        li.item
          .testimonials-v3-title
            p 2014年年末年始休暇について
            span 2014年12月26日
          p 誠に勝手ではございますが当社では、2014年12月27日（土）から2015年1月4日（日）まで、年末年始休暇とさせていただきます。
          p 大変ご迷惑をお掛けいたしますが、何卒ご理解を賜りますようお願い申し上げます。
        li.item
          .testimonials-v3-title
            p ISO27001(ISMS)認証を取得
            span 2014年5月30日
          p ISO27001(ISMS)認証を取得しました
        li.item
          .testimonials-v3-title
            p 本社を東京都港区芝に移転
            span 2014年1月18日
          p 事業拡大のため、本社を東京都港区芝に移転
        li.item
          .testimonials-v3-title
            p 2013年年末年始休暇について
            span 2013年12月30日
          p 誠に勝手ではございますが当社では、2013年12月28日（土）から2014年1月5日（日）まで、年末年始休暇とさせていただきます。
          p 大変ご迷惑をお掛けいたしますが、何卒ご理解を賜りますようお願い申し上げます。
        li.item
          .testimonials-v3-title
            p 資本金を1850万円に増資
            span 2013年7月
          p 資本金を1850万円に増資
        li.item
          .testimonials-v3-title
            p ６年連続経営黒字達成
            span 2013年3月
          p 平成２４～２５年度決算終了、６年連続経営黒字達成
        li.item
          .testimonials-v3-title
            p 一般競争入札資格取得
            span 2013年4月
          p 一般競争入札資格取得
        li.item
          .testimonials-v3-title
            p プライバシーマーク取得
            span 2013年3月
          p プライバシーマーク取得
        li.item
          .testimonials-v3-title
            p ４年連続経営黒字達成
            span 2011年3月
          p 平成２２～２３年度決算終了、４年連続経営黒字達成
        li.item
          .testimonials-v3-title
            p 本社を東京都中央区八丁堀に移転
            span 2011年1月
          p 事業拡大のため、本社を東京都中央区八丁堀に移転

    #sub-cate.row.margin-bottom-20
      .col-md-3.col-sm-6
        .thumbnails.thumbnail-style.thumbnail-kenburn
          .thumbnail-img
            .overflow-hidden
              img.img-responsive(src='/img/main/1.jpg', alt='')
            a.btn-more.btn-blue.hover-effect(href='about-us') read more +
          .caption
            h3
              a.hover-effect(href='about-us') #{__('home.subCate.sub1')}
      .col-md-3.col-sm-6
        .thumbnails.thumbnail-style.thumbnail-kenburn
          .thumbnail-img
            .overflow-hidden
              img.img-responsive(src='/img/main/16.jpg', alt='')
            a.btn-more.hover-effect(href='services') read more +
          .caption
            h3
              a.hover-effect(href='services') #{__('home.subCate.sub2')}
      .col-md-3.col-sm-6
        .thumbnails.thumbnail-style.thumbnail-kenburn
          .thumbnail-img
            .overflow-hidden
              img.img-responsive(src='/img/main/17.jpg', alt='')
            a.btn-more.hover-effect(href='recruitment') read more +
          .caption
            h3
              a.hover-effect(href='recruitment') #{__('home.subCate.sub3')}
      .col-md-3.col-sm-6
        .thumbnails.thumbnail-style.thumbnail-kenburn
          .thumbnail-img
            .overflow-hidden
              img.img-responsive(src='/img/main/11.jpg', alt='')
            a.btn-more.hover-effect(href='contact') read more +
          .caption
            h3
              a.hover-effect(href='contact') #{__('home.subCate.sub4')}
