extends ../layout

block css
  link(rel="stylesheet", href="/home.css")

block js
  script(data-main="/home", src="/components/requirejs/require.js")

block slider
  .tp-banner-container
    .tp-banner
      ul
        li.revolution-mch-1(data-transition='fade', data-slotamount='5', data-masterspeed='1000', data-title="#{__('home.slider.title1')}")
          img(src='/img/sliders/4.jpg', alt='darkblurbg', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
          .tp-caption.revolution-ch1.sft.start(data-x='center', data-hoffset='0', data-y='100', data-speed='1500', data-start='500', data-easing='Back.easeInOut', data-endeasing='Power1.easeIn', data-endspeed='300')
            | #{__('home.slider.statement1')}
          .tp-caption.revolution-ch1.sft(data-x='center', data-hoffset='0', data-y='190', data-speed='1400', data-start='2000', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6;')
            | #{__('home.slider.statement2')}
        li.revolution-mch-1(data-transition='fade', data-slotamount='5', data-masterspeed='1000', data-title="#{__('home.slider.title2')}")
          img(src='/img/sliders/3.jpg', alt='darkblurbg', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
          .tp-caption.revolution-ch1.sft.start(data-x='center', data-hoffset='0', data-y='100', data-speed='1500', data-start='500', data-easing='Back.easeInOut', data-endeasing='Power1.easeIn', data-endspeed='300')
            | #{__('home.slider.statement3')}
          .tp-caption.revolution-ch1.sft(data-x='center', data-hoffset='0', data-y='190', data-speed='1400', data-start='2000', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6;')
            | #{__('home.slider.statement4')}
        li.revolution-mch-1(data-transition='fade', data-slotamount='5', data-masterspeed='1000', data-title="#{__('home.slider.title3')}")
          img(src='/img/sliders/2.jpg', alt='darkblurbg', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
          .tp-caption.revolution-ch1.sft.start(data-x='center', data-hoffset='0', data-y='100', data-speed='1500', data-start='500', data-easing='Back.easeInOut', data-endeasing='Power1.easeIn', data-endspeed='300')
            | #{__('home.slider.statement5')}
          .tp-caption.revolution-ch1.sft(data-x='center', data-hoffset='0', data-y='190', data-speed='1400', data-start='2000', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6;')
            | #{__('home.slider.statement6')}
          .tp-caption.revolution-ch1.sft(data-x='center', data-hoffset='0', data-y='280', data-speed='1400', data-start='3000', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6;')
            | #{__('home.slider.statement7')}
      .tp-bannertimer.tp-bottom

block breadcrumbs
  .purchase
    .container
      .row
        .col-md-9
          span #{__('home.breadcrumb.title')}
          p
            | #{__('home.breadcrumb.statement')}
        .col-md-3.btn-buy
          a.btn-u.btn-u-lg(href='contact')
            i.icon-earphones-alt
            |  #{__('home.breadcrumb.contact')}

block content
  .container.content
    #sub-cate.row.margin-bottom-20
      .col-md-3.col-xs-6
        .thumbnails.thumbnail-style.thumbnail-kenburn
          .thumbnail-img
            .overflow-hidden
              img.img-responsive(src='/img/main/1.jpg', alt='')
            a.btn-more.btn-blue.hover-effect(href='about-us') read more +
          .caption
            h3
              a.hover-effect(href='about-us') #{__('home.subCate.sub1')}
      .col-md-3.col-xs-6
        .thumbnails.thumbnail-style.thumbnail-kenburn
          .thumbnail-img
            .overflow-hidden
              img.img-responsive(src='/img/main/16.jpg', alt='')
            a.btn-more.hover-effect(href='services') read more +
          .caption
            h3
              a.hover-effect(href='services') #{__('home.subCate.sub2')}
      .col-md-3.col-xs-6
        .thumbnails.thumbnail-style.thumbnail-kenburn
          .thumbnail-img
            .overflow-hidden
              img.img-responsive(src='/img/main/17.jpg', alt='')
            a.btn-more.hover-effect(href='recruitment') read more +
          .caption
            h3
              a.hover-effect(href='recruitment') #{__('home.subCate.sub3')}
      .col-md-3.col-xs-6
        .thumbnails.thumbnail-style.thumbnail-kenburn
          .thumbnail-img
            .overflow-hidden
              img.img-responsive(src='/img/main/11.jpg', alt='')
            a.btn-more.hover-effect(href='contact') read more +
          .caption
            h3
              a.hover-effect(href='contact') #{__('home.subCate.sub4')}
