extends ../layout

block css
  link(rel="stylesheet", href="css/common.css")

block js
  script(data-main="js/recruitment", src="/components/requirejs/require.js")
    
block breadcrumbs
  .breadcrumbs
    .container
      h1.pull-left #{__('recruitment.breadcrumb.title')}

block content
  .container.content
    .row
      #recruit-info.col-md-8
        .row
          .col-sm-6
            .service
              i.service-icon.icon-briefcase
              .desc
                h4.no-top-space #{__('recruitment.info.employ.title')}
                p #{__('recruitment.info.employ.content')}
          .col-sm-6
            .service
              i.service-icon.icon-graduation
              .desc
                h4.no-top-space #{__('recruitment.info.education.title')}
                p #{__('recruitment.info.education.content')}
                  br
                  small #{__('recruitment.info.education.remark')}
        .row
          .col-sm-6
            .service
              i.service-icon.icon-pointer
              .desc
                h4.no-top-space #{__('recruitment.info.workplace.title')}
                p #{__('recruitment.info.workplace.content')}
                  br
                  small #{__('recruitment.info.workplace.remark')}
          .col-sm-6
            .service
              i.service-icon.icon-settings
              .desc
                h4.no-top-space #{__('recruitment.info.category.title')}
                p #{__('recruitment.info.category.content')}
        .row
          .col-sm-6
            .service
              i.service-icon.icon-note
              .desc
                h4.no-top-space #{__('recruitment.info.job.title')}
                p #{__('recruitment.info.job.content1')}
                  br
                  small #{__('recruitment.info.job.remark1')}
                  | #{__('recruitment.info.job.content2')}
                  br
                small #{__('recruitment.info.job.remark2')}
          .col-sm-6
            .service
              i.service-icon.icon-badge
              .desc
                h4.no-top-space #{__('recruitment.info.qualification.title')}
                p #{__('recruitment.info.qualification.content1')}
                  br
                  | #{__('recruitment.info.qualification.content2')}
                  br
                  small #{__('recruitment.info.qualification.remark')}
        .row
          .col-sm-6
            .service
              i.service-icon.icon-envelope
              .desc
                h4.no-top-space #{__('recruitment.info.application.title')}
                p #{__('recruitment.info.application.content')}
          .col-sm-6
            .service
              i.service-icon.icon-drawer
              .desc
                h4.no-top-space #{__('recruitment.info.selection.title')}
                p #{__('recruitment.info.selection.content')}
        .row
          .col-sm-6
            .service
              i.service-icon.icon-calendar
              .desc
                h4.no-top-space #{__('recruitment.info.holiday.title')}
                p #{__('recruitment.info.holiday.content')}
                  br
                  small #{__('recruitment.info.holiday.remark')}
          .col-sm-6
            .service
              i.service-icon.icon-earphones-alt
              .desc
                h4.no-top-space #{__('recruitment.info.contact.title')}
                p
                  | Tel: 03-6809-3235
                  br
                  | Fax: 03-6809-3238
                  br
                  | E-Mail: saiyou@e-business.co.jp
      .col-md-4
        .service-block.service-block-u.margin-bottom-40(data-toggle="modal",data-target="#privacy-modal")
          i.icon-4x.color-light.icon-line.icon-cloud-download
          h2.heading-md #{__('recruitment.download')}
        #privacy-modal.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                button.close(aria-hidden='true', data-dismiss='modal', type='button') ×
                h4#myModalLabel.modal-title #{__('recruitment.agreement.title')}
              .modal-body
                .service
                  i.service-icon.icon-direction
                  .desc
                    h4.no-top-space #{__('recruitment.agreement.info1.title')}
                    p #{__('recruitment.agreement.info1.content')}
                .service
                  i.service-icon.icon-speech
                  .desc
                    h4.no-top-space #{__('recruitment.agreement.info2.title')}
                    p #{__('recruitment.agreement.info2.content')}
                .service
                  i.service-icon.icon-shuffle
                  .desc
                    h4.no-top-space #{__('recruitment.agreement.info3.title')}
                    p #{__('recruitment.agreement.info3.content')}
                .service
                  i.service-icon.icon-pencil
                  .desc
                    h4.no-top-space #{__('recruitment.agreement.info4.title')}
                    p #{__('recruitment.agreement.info4.content')}
                .service
                  i.service-icon.icon-earphones-alt
                  .desc
                    h4.no-top-space #{__('recruitment.agreement.info5.title')}
                    p #{__('recruitment.agreement.info5.content')}
                    ul.list-unstyled
                      li
                        i.fa.fa-check.color-green
                        | #{__('recruitment.agreement.info5.contact')}
                      li
                        i.fa.fa-check.color-green
                        | #{__('recruitment.agreement.info5.window')}
                      li
                        i.fa.fa-check.color-green
                        | #{__('recruitment.agreement.info5.tel')} 03-6809-3235
                      li
                        i.fa.fa-check.color-green
                        | #{__('recruitment.agreement.info5.fax')} 03-6809-3238
                      li
                        i.fa.fa-check.color-green
                        |  URL: http://www.e-business.co.jp
                      li
                        i.fa.fa-check.color-green
                        |  E-Mail: katoko@e-business.co.jp
              .modal-footer
                button.btn-u.btn-u-default(data-dismiss='modal', type='button') #{__('recruitment.agreement.disagree')}
                | 
                button#btn-download-resume.btn-u(type='button') #{__('recruitment.agreement.agree')}
        .headline
          h2 #{__('recruitment.voices.title')}
        #testimonials-6.carousel.slide.testimonials.testimonials-v1.margin-bottom-40
          .carousel-inner
            .item.active
              p
                | #{__('recruitment.voices.voice1.content')}
              .testimonial-info
                img(src='/img/testimonials/user.jpg', alt='')
                span.testimonial-author
                  | #{__('recruitment.voices.voice1.name')}
                  em #{__('recruitment.voices.voice1.position')}
            .item
              p
                | #{__('recruitment.voices.voice2.content')}
              .testimonial-info
                img(src='/img/testimonials/img1.jpg', alt='')
                span.testimonial-author
                  | #{__('recruitment.voices.voice2.name')}
                  em #{__('recruitment.voices.voice2.position')}
            .item
              p
                | #{__('recruitment.voices.voice3.content')}
              .testimonial-info
                img(src='/img/testimonials/img2.jpg', alt='')
                span.testimonial-author
                  | #{__('recruitment.voices.voice3.name')}
                  em #{__('recruitment.voices.voice3.position')}
          .carousel-arrow
            a.left.carousel-control(href='#testimonials-6', data-slide='prev')
              i.fa.fa-angle-left
            a.right.carousel-control(href='#testimonials-6', data-slide='next')
              i.fa.fa-angle-right
        .headline
          h2 #{__('recruitment.photos.title')}
        #myCarousel1.carousel.slide.carousel-v1.margin-bottom-40
          .carousel-inner
            .item.active
              img(src='/img/eb/life1-1.jpg', alt='')
              .carousel-caption
                p #{__('recruitment.photos.title1')}
            .item
              img(src='/img/eb/life1-2.jpg', alt='')
              .carousel-caption
                p #{__('recruitment.photos.title2')}
            .item
              img(src='/img/eb/life1-3.jpg', alt='')
              .carousel-caption
                p #{__('recruitment.photos.title3')}
            .item
              img(src='/img/eb/life1-4.jpg', alt='')
              .carousel-caption
                p #{__('recruitment.photos.title4')}
            .item
              img(src='/img/eb/life1-5.jpg', alt='')
              .carousel-caption
                p #{__('recruitment.photos.title5')}
            .item
              img(src='/img/eb/life2-1.jpg', alt='')
              .carousel-caption
                p #{__('recruitment.photos.title6')}
            .item
              img(src='/img/eb/life2-2.jpg', alt='')
              .carousel-caption
                p #{__('recruitment.photos.title7')}
            .item
              img(src='/img/eb/life3-1.jpg', alt='')
              .carousel-caption
                p #{__('recruitment.photos.title8')}
            .item
              img(src='/img/eb/life3-2.jpg', alt='')
              .carousel-caption
                p #{__('recruitment.photos.title9')}
            .item
              img(src='/img/eb/life3-3.jpg', alt='')
              .carousel-caption
                p #{__('recruitment.photos.title10')}
          .carousel-arrow
            a.left.carousel-control(href='#myCarousel1', data-slide='prev')
              i.fa.fa-angle-left
            a.right.carousel-control(href='#myCarousel1', data-slide='next')
              i.fa.fa-angle-right
