extends layout

block css
  link(rel="stylesheet", href="/common.css")
  link(rel="stylesheet", href="/css/pages/page_404_error.css")

block js
  script(data-main="/common", src="/components/requirejs/require.js")
    
block breadcrumbs
  .breadcrumbs
    .container
      h1.pull-left #{error.status} #{error.message}

block content
  .container.content
    .row
      .col-md-8.col-md-offset-2
        .error-v1
          span.error-v1-title #{error.status}
          span #{error.message}
          p #{__('error.404')}
          a.btn-u.btn-border(href="/home") #{__('error.backBtn')}
