doctype html
<!--[if IE 8]><html lang="#{locale}" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="#{locale}" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="#{locale}"><!--<![endif]-->
head

  title #{__('title')}

  // Meta 
  meta(charset='utf-8')
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(name='description', content='')
  meta(name='author', content='JoeHetfield')

  // Favicon 
  link(rel='shortcut icon', href='/favicon.ico')

  // CSS
  block css

body.header-fixed

  // Loader
  #loading
    .loading-inner
      img(src='/img/loader/flat/1.gif', alt='loading...')

  // Wrapper
  .wrapper

    // Header
    .header.header-sticky

      // Topbar 
      .topbar
        .container
          // Topbar Navigation 
          ul.loginbar.pull-right
            li.languagesSelector
              i.fa.fa-globe
              | 
              a #{__('topBar.language')}
              ul.languages
                li(class=(locale === "ja")?"active":"")
                  a(href='/ja/#{path}', hreflang="ja") #{__('topBar.languageOpt.ja')}
                li(class=(locale === "zh")?"active":"")
                  a(href='/zh/#{path}', hreflang="zh") #{__('topBar.languageOpt.zh')}
                li(class=(locale === "en")?"active":"")
                  a(href='/en/#{path}', hreflang="en") #{__('topBar.languageOpt.en')}
            li.topbar-devider
            li
              a(href='/login') #{__('topBar.login')}

      // Navbar 
      .navbar.navbar-default.mega-menu(role='navigation')
        .container
          // Brand
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
              span.sr-only Toggle navigation
              span.fa.fa-bars
            a.navbar-brand(href='/home')
              //- img#logo-header(src='/img/logo1-default.png', alt='Logo')
              img#logo-header(src='/img/eb/logo.gif', alt='Logo', style="height: 39px; width: auto;")
              //- h1 E-Business Inc.
          // Collect the nav links
          .collapse.navbar-collapse.navbar-responsive-collapse
            ul.nav.navbar-nav
              li(class=(path === "home")?"active":"")
                a(href='/home')
                  | Home
              li(class=(path === "about-us")?"active":"")
                a(href='/about-us')
                  | #{__('menu.about')}
              li(class=(path === "services")?"active":"")
                a(href='/services')
                  | #{__('menu.service')}
              li(class=(path === "recruitment")?"active":"")
                a(href='/recruitment')
                  | #{__('menu.recruitment')}
              li(class=(path === "contact")?"active":"")
                a(href='/contact')
                  | #{__('menu.contact')}

    // Slider
    block slider

    // Breadcrumbs
    block breadcrumbs

    // Content
    block content

    // Footer
    .footer-v1
      .footer
        .container
          .row
            // About 
            .col-sm-6.col-md-3.md-margin-bottom-40
              a(href='/home')
                //- img#logo-footer.footer-logo(src='/img/logo2-default.png', alt='')
                h2 #{__('footer.brand')}
              p
                | #{__('footer.statement')}
              img#logo-footer.footer-logo(src='/img/eb/pmark.gif', alt='', style="width: auto; height: 75px;")
              img#logo-footer.footer-logo(src='/img/eb/isms.jpg', alt='', style="width: auto; height: 75px;")
            // Latest 
            .col-sm-6.col-md-3.md-margin-bottom-40
              .posts
                .headline
                  h2 #{__('footer.news.header')}
                ul.list-unstyled.latest-list
                  li
                    a(href='#') #{__('footer.news.news1.title')}
                    small #{__('footer.news.news1.date')}
                  li
                    a(href='#') #{__('footer.news.news2.title')}
                    small #{__('footer.news.news2.date')}
                  li
                    a(href='#') #{__('footer.news.news3.title')}
                    small #{__('footer.news.news3.date')}
            // Link List 
            .col-sm-6.col-md-3.md-margin-bottom-40
              .headline
                h2 #{__('footer.links.header')}
              ul.list-unstyled.link-list
                li
                  a(href='/home') HOME
                  i.fa.fa-angle-right
                li
                  a(href='/about-us') #{__('footer.links.link1')}
                  i.fa.fa-angle-right
                li
                  a(href='/services') #{__('footer.links.link2')}
                  i.fa.fa-angle-right
                li
                  a(href='/recruitment') #{__('footer.links.link3')}
                  i.fa.fa-angle-right
                li
                  a(href='/contact') #{__('footer.links.link4')}
                  i.fa.fa-angle-right
            // Contact
            .col-sm-6.col-md-3.map-img.md-margin-bottom-40
              .headline
                h2 #{__('footer.contact.header')}
              address.md-margin-bottom-40
                | #{__('footer.contact.address')}
                br
                | #{__('footer.contact.zipCode')}
                br
                | #{__('footer.contact.tel')}
                br
                | #{__('footer.contact.fax')}
                br
                | #{__('footer.contact.email')}
                a(href='mailto:info@e-business.co.jp') info@e-business.co.jp

      .copyright
        .container
          .row
            .col-md-6
              p #{__('copyright.statement')}
            .col-md-6
              p.pull-right
                a(href='/privacy') #{__('copyright.privacy')}
                |  |
                a(href='/terms-of-service')  #{__('copyright.terms')}
                |  |
                a(href='/margin-rate')  #{__('copyright.margin')}

  // JS
  block js

  <!--[if lt IE 9]>
  <script src="/plugins/respond.js"></script>
  <script src="/plugins/html5shiv.js"></script>    
  <![endif]-->

</html>